<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Reports</title>
  <style>
    svg{
      height: 25px;
      width: 30px;
      font-weight: 300;
      margin-left: 28px;
    }
  </style>
</head>
<body>

<h3>Reports History</h3>
  <table border="1">

    <tr>
      <th>userID</th>
      <th>FileName</th>
      <th>Date</th>
      <th>Download </th>
    </tr>

    <% if (reports.length > 0) { %>
      <% reports.forEach((report) => { %>
       <tr>
        <td><%= report.userId %></td>
        <td><%= report.fileName %></td>
        <td><%= report.reportGenerateDate %></td>

        <td>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <a href="<%= report.path %>">  <path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></a>
            
          
          </svg>
        </td>
     
       </tr>
      <% }) %>
     <% } %>
  </table>
 
</body>
</html>


<!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->