<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Password</title>
    <style>
        h3{
            margin-top: 20px;
            margin-left: 40%;
        }

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }


        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
        }
        
        form{
            /* background-color: lightblue; */
            margin: 30px auto;
            height: 50vh;
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form input, label{
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

       

    </style>
</head>
<body>
    <div class="container">
        <div class="form">
            <form action="/reset" id="resetpassword" name="resetpassword" method="">
       
                <label for="passwd">New-Password:</label>
                <input type="password" id="passwd" name="passwd" placeholder="Enter Password">

                <br>
                
                <label for="cpasswd">Confirm-Password:</label>
                <input type="password" id="cpasswd" name="cpasswd" placeholder="Re-Enter Password">
    
    
                <input type="button" value="Reset" id="submit">
    
                <div class="link"></div>
            </form>

            <script>
                let reset = document.getElementById('submit');

                reset.addEventListener("click" , async function(e){
                    e.preventDefault();

                    let passwd = document.getElementById('passwd').value;
                    let cpasswd = document.getElementById('cpasswd').value;

                    let dt = new URLSearchParams(window.location.search);
                    let email = dt.get('email');
                    console.log(email);

                    
                    let data = await fetch('http://localhost:8000/reset' , {
                        method:"POST",
                        body:JSON.stringify({ passwd , cpasswd , email}),
                        headers: { 'Content-Type' : 'application/json' },
                    });

                    data = await data.json();
                    console.log(data);


                    if(data.success){
                        let div = document.querySelector('.link');

                        let p = document.createElement("p");
                        p.classList.add('reset');
                        p.innerHTML = "Password Updated SuccessFully"

                        div.appendChild(p);

                        setTimeout(() => {
                            window.location.href = "http://localhost:8000/login";
                        }, 2000);
                    }
                    else{
                        let div = document.querySelector('.link');

                        let p = document.createElement("p");
                        p.classList.add('reset');
                        p.innerHTML = "Some Error While Updating Password..."

                        div.appendChild(p);
                    }
                });
            </script>
            
        </div>
    </div>
</body>
</html>